<div class="row team-row">

    <div class="col-sm-2 team-member">
        <img class="img-responsive"
            src="https://image.freepik.com/fotos-gratis/neon-sinal-barzinhos-imagem-coquetel_23-2148184280.jpg">
        <h3 class="name">Gumb Gasparini</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive"
            src="https://image.freepik.com/fotos-gratis/neon-sinal-barzinhos-imagem-coquetel_23-2148184280.jpg">
        <h3 class="name">Gumb Gasparini</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive"
            src="https://image.freepik.com/fotos-gratis/neon-sinal-barzinhos-imagem-coquetel_23-2148184280.jpg">
        <h3 class="name">Gumb Gasparini</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive"
            src="https://image.freepik.com/fotos-gratis/neon-sinal-barzinhos-imagem-coquetel_23-2148184280.jpg">
        <h3 class="name">Gumb Gasparini</h3>
    </div>
</div>