<h1 class="text-center">Staff & Founders</h1>
<div class="row team-row">
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/weiss.jpg">
        <h3 class="name">Felipe Weiss</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/gasparini.jpg">
        <h3 class="name">Vinicius Gasparini</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/jonk.jpg">
        <h3 class="name">Jonck Junior</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/israel.jpg">
        <h3 class="name">Israel da Silva</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/carol.jpg">
        <h3 class="name">Carol Borba</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/luiza.jpg">
        <h3 class="name">Luiza Engler</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/felipera.jpg">
        <h3 class="name">Felipe Marchi</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/peter.jpg">
        <h3 class="name">Peter Brendel</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/utiama.jpg">
        <h3 class="name">Guilherme Utiama</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/granza.jpg">
        <h3 class="name">Rafael Granza</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/fabricio.jpg">
        <h3 class="name">Fabricio de Melo</h3>
    </div>
</div>
<h1 class="text-center">Membros</h1>
<div class="row team-row">
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/joaozinho.jpg">
        <h3 class="name">João Vitor Fröhlich</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/kelvin.jpg">
        <h3 class="name">Kelvin Welter</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/gustavo_daniel.jpg">
        <h3 class="name">Gustavo Daniel</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/felipe_silva.jpg">
        <h3 class="name">Filipe da Silva</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/lais.jpg">
        <h3 class="name">Laís Pisetta Van Vossen</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/jaasiel.jpg">
        <h3 class="name">Jaasiel Abner</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/machado.jpg">
        <h3 class="name">Eliton Machado/h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/igor.jpg">
        <h3 class="name">Igor Froehner</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/kalyl.jpg">
        <h3 class="name">Kalyl Hennings</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/passos.jpg">
        <h3 class="name">Danilo Passos</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/nicolas.jpg">
        <h3 class="name">Nicolas Sakashita</h3>
    </div>
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/lucas_menegueli.jpg">
        <h3 class="name">Lucas Meneghelli</h3>
    </div>
</div>

<h1 class="text-center">Bozzola</h1>
<div class="row team-row">
    <div class="col-sm-2 team-member">
        <img class="img-responsive" src="/assets/img/profile/bozzola.jpg">
        <h3 class="name">Gabriel Bozzola</h3>
    </div>
</div>