---
layout: default
---
<article class="page-article">
    <div class="wrap-content">
        <header class="page-header">
            <h1 class="page-title">{{page.title}}</h1>
        </header>
        <div class="page-content">
            <div class="contact-div">
                <i class="social-icons fa fa-envelope fa-2x"></i><a
                    href="mailto:bruteudesc@gmail.com">bruteudesc@gmail.com</a>
                <i class="social-icons fa fa-instagram fa-2x"></i><a
                    href="https://www.instagram.com/bruteudesc">@bruteudesc</a>
                <i class="social-icons fa fa-github fa-2x"></i><a
                    href="https://www.github.com/bruteudesc">bruteudesc</a>
                <i class="social-icons fa fa-facebook fa-2x"></i><a
                    href="https://www.facebook.com/MaratonaUdesc/">MaratonaUdesc</a>
            </div>
        </div>
    </div>
</article>